---
import BaseLayout from "@/layouts/BaseLayout.astro";

export const prerender = true;

export async function getStaticPaths() {
  return [
    { params: { slug: "decal-dan-kinh-van-phong" } },
    { params: { slug: "thi-cong-decal-quan-7" } },
  ];
}

const { slug } = Astro.params;

const post = {
  title: slug.replaceAll("-", " "),
};
---

<BaseLayout title={post.title}>
  <h1>{post.title}</h1>
</BaseLayout>
