---
import BaseLayout from "@/layouts/BaseLayout.astro";

export const prerender = true;

export async function getStaticPaths() {
  return [
    { params: { category: "decal-van-phong" } },
    { params: { category: "thi-cong-decal" } },
    { params: { category: "decal-dan-kinh" } },
    { params: { category: "decal-quan" } }
  ];
}

const { category } = Astro.params;
---

<BaseLayout title={category}>
  <section class="w-full py-20">
    <div class="w-full max-w-6xl mx-auto px-6">

      <h1 class="text-4xl font-semibold">
        {category}
      </h1>

      <p class="mt-4 text-gray-600">
        Danh mục bài viết liên quan
      </p>

    </div>
  </section>
</BaseLayout>
