---
const {
  title = "Thi công decal chuyên nghiệp",
  description = "Dịch vụ in & dán decal kính, văn phòng, showroom chuyên nghiệp",
} = Astro.props;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<title>{title}</title>
<meta name="description" content={description} />

<link rel="icon" href="/favicon.png" />

<!-- 🌿 Open Graph -->
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />

<!-- ⚡ preload logo -->
<link rel="preload" as="image" href
