---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/global/Header.astro";
import Footer from "@/components/global/Footer.astro";
---

<!DOCTYPE html>
<html lang="vi">
  <head>
    <BaseHead />
  </head>

  <body class="bg-white text-gray-800 min-h-screen flex flex-col">

    <!-- Header -->
    <Header />

    <!-- Main Content -->
    <main class="flex-1 w-full">
      <div class="max-w-6xl mx-auto px-6 lg:px-12">
        <slot />
      </div>
    </main>

    <!-- Footer -->
    <Footer />

  </body>
</html>
