---
import Header from "../components/global/Header.astro";
const { title = "Decal", description = "Thi công decal" } = Astro.props;
---
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />

    <script type="application/ld+json">
      {JSON.stringify({
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        name: "iDecal",
        telephone: "0862208108",
      })}
    </script>
  </head>

  <body class="font-sans text-gray-800 bg-white">
    <Header />
    <main class="w-full px-4 sm:px-6 lg:px-12 xl:px-20 2xl:px-32">
      <div class="max-w-7xl mx-auto">
        <slot />
      </div>
    </main>
  </body>
</html>
