<footer>
  <div class="w-full max-w-6xl mx-auto px-6 lg:px-8 py-16">
    <p class="font-medium text-base text-base-900">Micro Store</p>
    <p class="text-sm mt-1 text-base-500 ">
      Designed and built in the Åland Islands<br />by
      <a
        href="https://michaelandreuzza.com/"
        class="underline hover:text-base-500 duration-200"
      >
        Michael Andreuzza.
      </a>
    </p>
  </div>
</footer>
